* text=auto !eol
SVN[!!-~]Folder/NoLineAtEndOfFile.txt -text
Some[!!-~]Folder/gigaherz[!!-~]was[!!-~]here.txt -text
/blafile.txt -text
/blubfile.txt -text
/change_something.txt -text
/testfile.txt -text
